* {
  box-sizing: border-box;
}

.container {
  width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 90px);
  grid-template-rows: repeat(8, 90px);
}

.grid-item {
  background-color: green;
  border: solid black 1px;
}

[data-color="b"]::after {
  content: "";
  display: block;
  background-color: black;
  border-radius: 50%;
  height: 100%;
}

[data-color="w"]::after {
  content: "";
  display: block;
  background-color: white;
  border-radius: 50%;
  height: 100%;
}
